table,tr,td,th{
    border:2px solid green;
}

tr:hover{
    background-color: lightgreen;
}
th:hover{
    background-color: lightblue;
}
button{
    background-color: rgb(176, 251, 249);
    border-radius: 20px;
}
button:hover{
    background-color:rgb(39, 155, 190);
}
input:hover{
    background-color: aqua;
}
input{
    background-color: bisque;
    color: black;
}